<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mukesh Kumar</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/all.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img class="img-thumbnail" id="profile-pic" src="{% static 'blog/images/mukesh.jpg' %}" alt="mukesh">
                    <hr>
                    <h4 class="text-dark mt-3 st-font">Hi I'm mukesh!</h4>
                    <p>I love coding, doing research and collaborating</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>My First Job as a Developer</h4>
                    <hr>
                    <p>My first job as a programmer at <b class="text-warning">National Data Center(NDC)</b>, EPFO, New Delhi in the payroll of Nelito Systems Ltd. from 4th Jan 2018 to 31st July 2019.</p>
                    <p>My first job as a programmer at National Data Center(NDC), EPFO, New Delhi in the payroll of Dev Information Technology Pvt. Ltd from 1st Aug 2019 to 30th Sep 2019.</p>
                    <ul class="social-links">
                        <div class="text-center mt-5">
                            <a href="https://twitter.com/mukeshkumar1385/" target="_blank"><i class="fab fa-twitter i-color mr-3"></i></a>
                            <a href="https://www.facebook.com/mukeshkumar1012/" target="_blank"><i class="fab fa-facebook-f i-color mr-3"></i></a>
                            <a href="https://www.instagram.com/mukesh22818/" target="_blank"><i class="fab fa-instagram i-color mr-3"></i></a>
                            <a href="https://dribbble.com/mukesh213/" target="_blank"><i class="fab fa-dribbble i-color mr-3"></i></a>
                            <a href="https://www.linkedin.com/in/mukeshkumar1012/" target="_blank"><i class="fab fa-linkedin-in i-color mr-3"></i></a>
                            <a href="https://github.com/mukesh25/" target="_blank"><i class="fab fa-github i-color mr-3"></i></a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My Experience as a Developer</h4>
                    <hr>
                    <p>Developer at NDC(Nation Data Center)</p>
                    <p>Project ABP Returns</p>
                    <p>In ABP Returns in all EPFO field office give his contribution of business of EPFO. It provides monthly contribution Claims. Issue of annual account status, Arrear Demand, Current Demand.<br> Its provide the status of Court Cases and
                        Public Grievance. Head office can checkn status of each and every Fixed office</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>What I Know</h4>
                    <hr>
                    <p>Python, Django, Java, HTML/CSS, JavaScript/Jquery, React, MySql, AWS and APIs such as google maps, JavaScript charts and a whole bunch more I can't possible mention in one sentence! ;)</p>
                    <p>PS: Working on Python and Django.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>How I Learn</h4>
                    <hr>
                    <p>Reverse Engineer & Build Ugly Prototypes First.</p>
                    <p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My Short Term Goals</h4>
                    <hr>
                    <p>After almost two years of supporting my system at the lab I'm ready to learn something new. I'll collaborating and sharing my experience with others.</p>
                    <p>Aside from building small project I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <script src="{% static 'blog/js/popper.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.js' %}"></script>
    <script src="{% static 'blog/js/all.min.js' %}"></script>
</body>

</html>