{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="mt-5 text-center ">
    <img src="{% static 'core/images/mukesh.jpg' %}" alt="profilepic" class="img-thumbnail" width="250px" height="150px">
</div>
<div class="mt-5 text-white mx-5 text-justify">
    <h1 class="font-weight-bold st-font">Hello,</h1>
    <div class="px-4" style="line-height: 2rem;">
        <p style="text-indent:100px ;"> I am <b class="text-warning">Mukesh Kumar</b> , I love coding, doing research and collaborating, having 2 years experience in web development. My first job as a programmer at National Data Centre(NDC), EPFO, New Delhi in the payroll of Nelito
            Systems Ltd. from 4th Jan 2018 to 31st July 2019. <br> And payroll of Dev Information Technology Pvt. Ltd from 1st Aug 2019 to 30th Sep 2019.</p>

        <p>I have served as a web development at <b class="text text-warning">NDC (National Data Center)</b>, EPFO, Project ABP Returns, In ABP Returns in all EPFO field office give his contribution of business of EPFO. It provides monthly contribution Claims.
            Issue of annual account status, Arrear Demand, Current Demand. Its provide the status of Court Cases and Public Grievance. Head office can check status of each and every Fixed office. </p>
    </div>
</div>
<div class="text-center">
    <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
    <a href="{% url 'contact' %}" class="btn btn-outline-info my-3 mr-5">Contact</a>
</div>
{% endblock content %}