{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="mt-5 text-center ">
    <img src="{% static 'core/images/mukesh.jpg' %}" alt="profilepic" class="img-thumbnail" width="250px" height="150px">
</div>
<div class="mt-5 text-white mx-5 text-justify">
    <h1 class="font-weight-bold st-font">Hello,</h1>
    <div class="px-4" style="line-height: 2rem;">
        <p style="text-indent:100px ;"> I am <b class="text-warning">Mukesh Kumar</b> having 5 years of full-stack web development experience for global business, I offer the technical expertise you are seeking for your web development position.</p>
        </p>
        <p>Since earning my bachelor's degree in internet and web development from IGNOU University, I have served as a web development at <b class="text text-warning">NDC (National Data Center)</b>, One of biggest premier digital marketing and web development
            firm. In this position, I have led web development projects for clients in diverse Industtries includinng Technology, manufacturing, pharmaceutical, hospitality, retail and financial services.</p>
        <p>Lorem, ipsum dolar sit amet consectetur adipisicing elit. Eveniet sapiente reiciendis numquam optio? Enim eligendi quaeducimus ipsam consectetur dicta varitatis sunt. Pariatur vel modi alias eum ducimus nam temporibus. </p>
    </div>
</div>
<div class="text-center">
    <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
    <a href="{% url 'contact' %}" class="btn btn-outline-info my-3 mr-5">Contact</a>
</div>
{% endblock content %}