{% extends 'blog/base.html' %} {% load static %} {% block content%}

<div class="cls-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere vitae, voluptatum iusto magnam, quas id consectetur recusandae molestiae itaque delectus maxime minus impedit, beatae molestias? Consequuntur earum, est repellendus ut quisquam tempora.
        Ipsa voluptatum illum dicta rem tempora accusamus atque architecto fuga recusandae? Labore atque tenetur blanditiis!
    </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad cumque dolorum, magni soluta est provident totam id, beatae vel vero saepe illum laborum maxime error aperiam at modi molestiae nisi.</p>
</div>

{% endblock content%}